<!DOCTYPE html>
<html>
  <head>
    <title>EventManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "timetable", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="header-wrapper">
      <%= link_to '/' do %>
        <%= image_tag('Logo.png', alt: 'Logo', class: 'header-logo')%>
      <% end %>
      <div class="header-actions-wrapper">
        <%= link_to 'My account', '/account', class: 'header-actions-secondary-button' %>
        <%= link_to 'Add new event', '/events/new', class: 'header-actions-primary-button' %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
